PRODUCT_BUNDLE_IDENTIFIER = de.aronhomberg.Milky

VERSIONING_SYSTEM = Apple Generic

CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0

INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities

// Private API usage can be disabled by removing the "-D ENABLE_TCC_SPI" flag below.
OTHER_SWIFT_FLAGS = $(inherited) -D ENABLE_TCC_SPI
